.player{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.player-hand{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 5rem;
}

.cards{
    display: flex;
    column-gap: 0.4rem;
}


.player-name{
    font-size: 1.4rem;
}

.player-me{
    color: #DBD644;
    text-shadow: 0 0 4px #DBD6444B;
}

.insurance-bet{
    display: flex;
    font-size: 0.8rem;
    align-self: flex-start;
    column-gap: 0.4rem;
    align-items: center;
    position: absolute;
    bottom: -10%;
}