.window{
    padding: 1.5rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #141414;
    border-radius: 6px;
    position: relative;
}

.heading{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 21px;
    color: #FFFFFF;
}
 
.options{
    display: flex;
    justify-content: space-between;
    column-gap: 1.5rem;
    padding: 1rem 0 2rem;
}

.labeled-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 3.5rem;
    row-gap: 0.2rem;
}

.option{
    user-select: none;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 21px;
    color: #FFFFFF;
    background: #242424;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.labeled-option:first-child,
.labeled-option:last-child{
    position: relative;
    top: 1rem;
}

.option_disabled > .option{
    background: rgba(255, 255, 255, 0.2);
}

.option_disabled > .option-label{
    color: rgba(255, 255, 255, 0.2);
}
