.timer{
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    font-size: 1rem;
    line-height: 21px;
    color: #FFFFFF;
    background: #242424;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
