.player-card{
    top: 0;
    left: 0;
    position: absolute;

    animation: draw 1s;
    animation-timing-function: cubic-bezier(0.385, 1.125, 1, 0.955);
    animation-fill-mode: forwards;
}

@keyframes draw {
    0% {
      opacity: 0;
      translate: 0 -10rem;
      rotate: 0deg;
    }
  
    30% {
      opacity: 1;
      rotate: 360deg;
    }
  
    70% {
      rotate: 370deg;
    }
  
    100% {
      rotate: 360deg;
      translate: calc(var(--offset)*2.2rem) calc(-1*var(--offset)*2.2rem);
    }
  }