.user-info{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.user-name{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.125rem 0.25rem;
    color: #000000;
    background: #FFFFFF;
}

.balance{
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.2rem;
    color: #FFFFFF;
    align-items: center;
}

.chip-ico{
    width: 27px;
    height: 27px;
}

@media screen and (max-width: 670px) {
    .chip-ico{
        width: 20px;
        height: 20px;
    }
}
