.hand__stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hand__bet{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.2rem;
    width: 150%;
}
