.header{
    padding-top: env(safe-area-inset-top, 0);
    padding-bottom: env(safe-area-inset-bottom, 0);;
    padding-left: calc(0.5rem + env(safe-area-inset-left, 0));
    padding-right: calc(0.5rem + env(safe-area-inset-right, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
}

.logo{
    width: 174px;
    height: 32px;
    background-image: url('src/assets/evolution.svg');
    background-repeat: no-repeat;
}

@media screen and (max-width: 670px) {
    .logo{
        width: 23px;
        background-image: url('src/assets/evolution_mobile.svg');
    }
}