.player{
    position: absolute;
    bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.score{
    position: relative;
    right: -105%;
    top: -5%;
    font-size: 1.2rem;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 2px;
    width: 2.2rem;
    padding: 0.4rem;
    aspect-ratio: 1 / 1;
}

.score__lose{
    background-color: #FEACAC;
}

.score__win{
    background-color: #69B06C;
}

.end-game-label{
    font-size: 1.2rem;
    padding-left: 0.2rem;
}

.end-game-label__lose{
    color: #FEACAC;
}

.end-game-label__win{
    color: #69B06C;
}

.cards{
    display: flex;
    column-gap: 0.4rem;
}

.player__name{
    font-size: 1.4rem;
}

.player__info{
    align-self: center;
    width: max-content;
}

.player__stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.player__bet{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.2rem;
}

