.window{
    padding: 1.5rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #141414;
    border-radius: 6px;
    position: relative;
    top: -10%;
}

.heading{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 21px;
    color: #FFFFFF;
}
 
.options{
    display: flex;
    justify-content: space-between;
    column-gap: 3.5rem;
    padding: 1rem 0 2rem;
}

.option{
    user-select: none;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 21px;
    color: #FFFFFF;
    background: #242424;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.option_active{
    border: 1px solid #FFFFFF;
}
