.header{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-top: calc(0.5rem + env(safe-area-inset-top, 0));
    padding-bottom: env(safe-area-inset-bottom, 0);;
    padding-left: calc(0.8rem + env(safe-area-inset-left, 0));
    padding-right: calc(0.8rem + env(safe-area-inset-right, 0));

    position: absolute;
}

.close-btn{
    cursor: pointer;
}

.close-btn:hover{
    animation: crack 0.3s ease-in-out;
}

@keyframes crack {
    12.5%{
        transform: rotate(-2deg) scale(1.1) translateX(-5%);
    }

    25%{
        transform: rotate(0) scale(1.1) translateX(0);
    }

    37.5%{
        transform: rotate(2deg) scale(1.1) translateX(5%);
    }

    50%{
        transform: rotate(0) scale(1.1) translateX(0);
    }

    62.5%{
        transform: rotate(-2deg) scale(1.1) translateX(-5%);
    }

    75%{
        transform: rotate(0) scale(1.1) translateX(0);
    }

    82.5%{
        transform: rotate(2deg) scale(1.1) translateX(5%);
    }

    100%{
        transform: rotate(0) scale(1) translateX(0);;
    }
}

.close-ico{
    user-select: none;
    height: 1.2rem;
    width: 1.2rem;
    filter: invert(44%) sepia(70%) saturate(0%) hue-rotate(167deg) brightness(99%) contrast(97%);
}